body{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    
    font-family: 'Inter', sans-serif;

    background-color: hsl(233, 47%, 7%);
}

.card{
    display: grid;
    grid-template-columns: 51% 49%;
    grid-template-rows: 70%;
    
    overflow: hidden;

    width: 1040px;
    height: 420px;

    background-color: hsl(244, 38%, 16%);
    border-radius: 7px;
}

.filter{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    
    background-color: hsl(277, 64%, 61%);
}

.image{
    width: 100%;
    height: 100%;

    background-image: url(images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: multiply;
   
    }

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 65px;

    gap: 20px;
    width: 100%;
    height: 100%;
}

.section h1{
    width: 350px;

    font-weight: 700;
    line-height: 1.2;
    font-size: 32px;
    color: hsl(0, 0%, 100%);
}
.section em {
    color: hsl(277, 64%, 61%);
} 
.section p{
    width: 380px;

    font-weight: 400;
    line-height: 1.7;
    font-size: 16px;

    color: hsla(0, 0%, 100%, 0.75);
}

.data{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 65px;
    padding-bottom: 30px;

    gap: 50px;
}

.data h2{
    font-weight: 700;
    font-size: 26px;
    color: hsl(0, 0%, 100%);
}

.data p{
    padding-top: 10px;

    font-family: 'Lexend Deca', sans-serif;

    font-weight: 400;
    letter-spacing: 1px;
    font-size: 12px;

    color: hsla(0, 0%, 100%, 0.6);
}


@media(max-width:375px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100vh;
        
        font-family: 'Inter', sans-serif;

        background-color: hsl(233, 47%, 7%);
    }

    .card{
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;
        overflow: hidden;

        width: 250px;
        height: 600px;

        background-color: hsl(244, 38%, 16%);
        border-radius: 7px;
    }

    .image{
        width: 100%;
        height: 180px;
        
        background-color: hsl(277, 64%, 61%);
    }

    .filter{
        width: 100%;
        height: 100%;

        background-image: url(images/image-header-mobile.jpg);
        opacity: 0.3;
        background-repeat: no-repeat;
        background-size: cover;
       
        }

    .section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-left: 0px;

        gap: 20px;
        width: 90%;
        height: 180px;
    }

    .section h1{
        width: 100%;

        line-height: 1;
        font-weight: 700;
        font-size: 22px;
        text-align: center;
        color: hsl(0, 0%, 100%);
    }
    .section em {
        color: hsl(277, 64%, 61%);
    } 
    .section p{
        width: 95%;

        font-weight: 400;
        line-height: 1.7;
        font-size: 12px;
        text-align: center;
        color: hsla(0, 0%, 100%, 0.75);
    }

    .data{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding-bottom: 0px;
        padding-left: 0px;

        gap: 20px;
    }

    .data h2{
        font-weight: 700;
        font-size: 22px;
        text-align: center;
        color: hsl(0, 0%, 100%);
    }

    .data p{
        padding-top: 10px;

        font-family: 'Lexend Deca', sans-serif;

        font-weight: 400;
        letter-spacing: 1px;
        font-size: 10px;
        text-align: center;

        color: hsla(0, 0%, 100%, 0.6);
    }


}
